@page "/events"
@inject CoreApiClient EventsClient
@attribute [StreamRendering]
@attribute [Authorize]

<PageTitle>Events</PageTitle>

<h1>Events</h1>

<p>This component demonstrates showing data.</p>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in events)
            {
                <tr>
                    <td>@e.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private LGEvent[]? events;

    protected override async Task OnInitializedAsync()
    {
        events = await EventsClient.GetEvents();
    }
}
