@page "/"

<PageTitle>Home</PageTitle>

<MudContainer Class="d-flex flex-column justify-center align-center" Style="height: 100%">
    <h1>Welcome to the Lets Game authentication service!</h1>

    <p>This service is responsible for all authentication across Lets Game applications</p>
</MudContainer>
